body{
    font-family: Arial, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;

}
html {
    margin: 0 auto;
    padding: 0;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}
.ld {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


.inline-div {
    display: inline;
    margin: 0px 7px;
}
.app-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 2px;
    width: 40px;
    height: 40px;
}
.app-div:hover{
    background-color: rgba(0, 0, 0, 0.055);
}

.hl {
    font-size: 12px;
    
}
svg {
    width: 24px;
    fill: rgba(0, 0, 0, 0.712);;
}
 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
 }
 a:hover{
     text-decoration: underline;
 }

 button:hover{
     box-shadow: 0 0 1px rgb(90, 177, 248);
 }

 .lc {
    cursor: pointer;
 }

.btn {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
}


.btn-login {
    width: 100px;
    height: 37px;
    color: cornsilk;
    background-color: rgb(41, 122, 228);
}

.btn-search {
    background-color: rgba(0, 0, 0, 0.025);
    margin: 11px 4px;
    height: 35px;
    min-width: 54px;
    width: 150px;
    padding: 0 16px;
    line-height: 27px;
    -moz-osx-font-smoothing: auto;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.11);

}
.btn-search:hover{
    background-color: rgba(0, 0, 0, 0.040);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

#body{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box{
    padding: 0;
    display: flex;
    width: 500px;
    height: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0.199);
}

.search-box:hover {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.199);
}

#search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.btn-search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-input {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-input input{
    height: 45px;
    width: 390px;
    border: none;
    
}

.search-input input:focus{
    outline: 0;
    font-size: 14px;
    font-weight: 300;
}

.icons {
    width: 20px;
    height: 20px;
}
.search-icon {    
    background-image: url("img/icons/search-icon.png");
    opacity: 0.5;
}

.keyboard-search-icon {
    background-image: url("img/icons/keyboard-search-icon.png");
    opacity: 0.5;
}
#footer { 
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.050);
    font-size: 14px;
    height: 100px;
    margin-top: 30px;
}
.country-div {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.500);
    height: 52px;
    margin: 0 0 0 20px;
    
}

.fs {
    border-top:  1px solid;
    border-top-color: rgba(0, 0, 0, 0.144);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.rl-div, .ll-div {
    display: flex;
    align-items: center;
}

.fl {
    display: flex;
    margin: 10px;
}

.fl a {
    color: rgba(0, 0, 0, 0.500);
}

@media (max-width: 800px){
    #body {
        padding: 5px 5px;
        width: 350px;
        justify-content: center;
        height: 376px;
    }
    #footer {
        margin-top:10px;
        height: 185px;
    }
    .fl {
        min-width: max-content ;
        height: 15px;
        margin: 10px 15px;
        padding-top: 0;
    }
    .fs {
        height: 150px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
    }
    .ll-div {
        align-items: start;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
        margin-top: -5px;
    }
    .ll-div>.fl {
        justify-content: center;
    } 
    .rl-div {
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }
    .rl-div>.fl {
        margin: 5px 10px;
        align-items: center;
        justify-content: space-evenly; 
    }
}